<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper resource="com.solvd.university.dao.ISchoolDAO">
    <resultMap type="com.solvd.university.bin.School"
               id="SchoolResultMap" automapping="false">
        <id column="id" property="id"/>
        <result column="price" property="price"/>
        <result column="name" property="name"/>
        <collection property="grades" resultMap="com.solvd.university.dao.IGradeDAO.GradeResultMap"/>
        <association property="title" resultMap="com.solvd.university.dao.ITitleDAO.TitleResultMap"/>
    </resultMap>

    <select id="getEntityById">
        SELECT * WHERE ID like #{id}
    </select>

    <insert id="saveEntity">
        insert values(null, #{price}, #{name}, #{grades}, #{title})
    </insert>

    <delete id="removeEntity" parameterType="int">
        delete * where id = #{id}
    </delete>

    <update id="updateEntity">
        update * set price = #{price}, name = #{name}, grade = #{grades}, title = #{title} where id = #{id}
    </update>
</mapper>